<section class="text-white body-font ">
  <div
    class="container mx-auto flex px-28 py-20 md:flex-row flex-col items-center"
  >
    <div class="lg:max-w-md md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img
        class="object-cover object-center rounded "
        alt="hero"
        src="../assets/image/home-cactus.png"
      />
    </div>
    <div
      class="lg:flex-grow md:w-half lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center"
    >
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-body font-bold">
        <span class="text-hexgreen lg:text-5xl">ORNAMENTAL</span>
        <br class="lg:inline-block" />
        <span class="text-white">PLANTS FOR</span>
        <br class="lg:inline-block" />
        <span class="text-white">YOUR HOME</span>
      </h1>
      <p class="mb-8 leading-relaxed sm:text-sm font-omnibus">
        We design ornamental plants for your home in-house for an <br />original
        style and quality you won't find anywhere else.
      </p>
      <div class="flex row-auto justify-center items-center ">
        <button routerLink="/shop" 
          class="flex items-center text-slateblack bg-white border-0 py-1 px-4 focus:outline-none hover:bg-hexgreen rounded-3xl text-lg font-titillium font-bold"
        >
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1 bg-hexgreen rounded-3xl"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
         GO TO SHOP
        </button>
        <button 
          class="ml-4 inline-flex text-white border-0 py-2 px-6 focus:outline-none underline decoration-1 hover:text-hexgreen rounded text-lg font-titillium font-bold"
        >
          MORE
        </button>
      </div>
    </div>
  </div>
</section>

<!-- sec2 -->

<div class="sec2">
  <section class="text-gray-600 body-font ">
    <div
      class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center "
    >
      <div
        class="lg:flex md:w-1/2  md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center lg:ml-44"
      >
        <h1
          class="title-font sm:text-4xl text-3xl mb-4 font-bold text-white font-body"
        >
          NEW PLANTS FOR <br class="hidden lg:inline-block" />YOUR HOME
        </h1>

        <div class="class-w-5">
          <p class="mb-8 sm:text-sm font-omnibus lg:w-80 sm:w-96 text-white">
            Select new ornamental plants for home decoration and obtain
            atmosphere of harmony and freshness.
          </p>
        </div>
      </div>

      <div class="transform rotate-[-5deg]">
        <article
          class="relative w-44 h-52 bg-gradient-to-br to-hexgreen from-slateblack p-32 px-3 py-6 border-2 border-hexgreen rounded-lg "
        >
          <img
            class="absolute top-[-4.5rem] left-0 right-0 w-48 mx-auto hover:-translate-y-6"
            alt="hero"
            src="../assets/image/new-cactus-1.png"
          />
          <h2 class="text-center text-white font-bold mt-32">
            Gymnocalcium catus
          </h2>
        </article>

        <article
        class="lg:ml-80 md:ml-48 sm:ml-52 transform rotate-[10deg] relative w-44 h-52 bg-gradient-to-br to-hexgreen from-slateblack p-32 px-3 py-6 border-2 border-hexgreen rounded-lg"
      >
        <img
          class="absolute top-[-4.5rem] left-0 right-0 w-48 mx-auto hover:-translate-y-6"
          alt="hero"
          src="../assets/image/new-cactus-2.png"
        />
        <h2 class="text-center text-white font-bold mt-32">
          Lily Pad Succulent
        </h2>
      </article>
      
     
        <article
          class="relative w-44 h-52 bg-gradient-to-br to-hexgreen from-slateblack p-32 px-3 py-6 border-2 border-hexgreen rounded-lg"
        >
          <img
            class="absolute top-[-4.5rem] left-0 right-0 w-48 mx-auto hover:-translate-y-6"
            alt="hero"
            src="../assets/image/new-cactus-3.png"
          />
          <h2 class="text-center text-white font-bold mt-32">Rebutia Cactus</h2>
        </article>
      </div>
    </div>
  </section>
</div>

<!-- shop -->

<div class=" justify-center items-center ">
  <h2
    class="title-font sm:text-4xl text-3xl mb-4 font-bold text-white font-body text-center pt-10"
  >
    THE BEST PLANTS
  </h2>

  <div
    class=" pt-28 lg:pl-60 md:pl-52 grid md:grid-cols-2  lg:grid-cols-3 gap-y-32  justify-center items-center "
  >
    <article routerLink="/shop"
      class="relative w-44 h-52 bg-gradient-to-br to-hexgreen from-slateblack p-32 px-3 py-6 border-2 border-hexgreen rounded-lg cursor-pointer"
    >
      <img
        class="absolute top-[-4.5rem] left-0 right-0 w-48 mx-auto  duration-400 hover:-translate-y-6"
        alt="hero"
        src="../assets/image/shop-cactus-1.png"
      />
      <h3 class="text-center text-white font-bold mt-24">
        Gymnocalcium <br />
        Cactus
      </h3>
      <span class="text-white font-bold"> $15</span>

      <button class="bg-white rounded-lg ml-24">
        <span class="material-symbols-outlined"> shopping_bag </span>
      </button>
    </article>
    <article
      class="relative w-44 h-52 bg-gradient-to-br to-hexgreen from-slateblack p-32 px-3 py-6 border-2 border-hexgreen rounded-lg"
    >
      <img
        class="absolute top-[-4.5rem] left-0 right-0 w-48 mx-auto  hover:-translate-y-6"
        alt="hero"
        src="../assets/image/shop-cactus-2.png"
      />
      <h3 class="text-center text-white font-bold mt-24">
        Echeveria <br />
        Succulent
      </h3>
      <span class="text-white font-bold"> $15</span>

      <button routerLink="/shop" class="bg-white rounded-lg ml-24">
        <span class="material-symbols-outlined"> shopping_bag </span>
      </button>
    </article>
    <article
      class="relative w-44 h-52 bg-gradient-to-br to-hexgreen from-slateblack p-32 px-3 py-6 border-2 border-hexgreen rounded-lg "
    >
      <img
        class="absolute top-[-4.5rem] left-0 right-0 w-48 mx-auto hover:-translate-y-6"
        alt="hero"
        src="../assets/image/shop-cactus-3.png"
      />
      <h3 class="text-center text-white font-bold mt-24">
        Ferocactus <br />
        Cactus
      </h3>
      <span class="text-white font-bold"> $15</span>

      <button routerLink="/shop" class="bg-white rounded-lg ml-24">
        <span class="material-symbols-outlined"> shopping_bag </span>
      </button>
    </article>
    <article
      class="relative w-44 h-52 bg-gradient-to-br to-hexgreen from-slateblack p-32 px-3 py-6 border-2 border-hexgreen rounded-lg"
    >
      <img
        class="absolute top-[-4.5rem] left-0 right-0 w-48 mx-auto hover:-translate-y-6"
        alt="hero"
        src="../assets/image/shop-cactus-4.png"
      />
      <h3 class="text-center text-white font-bold mt-24">
        Key Lime Pie <br />
        Succulent
      </h3>
      <span class="text-white font-bold"> $15</span>

      <button routerLink="/shop" class="bg-white rounded-lg ml-24">
        <span class="material-symbols-outlined"> shopping_bag </span>
      </button>
    </article>
    <article
      class="relative w-44 h-52 bg-gradient-to-br to-hexgreen from-slateblack p-32 px-3 py-6 border-2 border-hexgreen rounded-lg"
    >
      <img
        class="absolute top-[-4.5rem] left-0 right-0 w-48 mx-auto hover:-translate-y-6"
        alt="hero"
        src="../assets/image/shop-cactus-5.png"
      />
      <h3 class="text-center text-white font-bold mt-24">
        Melocactus <br />
        Cactus
      </h3>
      <span class="text-white font-bold"> $15</span>

      <button routerLink="/shop" class="bg-white rounded-lg ml-24">
        <span class="material-symbols-outlined"> shopping_bag </span>
      </button>
    </article>
    <article
    class="relative w-44 h-52 bg-gradient-to-br to-hexgreen from-slateblack p-32 px-3 py-6 border-2 border-hexgreen rounded-lg"
  >
    <img
      class="absolute top-[-4.5rem] left-0 right-0 w-48 mx-auto hover:-translate-y-6"
      alt="hero"
      src="../assets/image/new-cactus-2.png"
    />
    <h3 class="text-center text-white font-bold mt-24">
      Lily Pad <br />
      Succulent
    </h3>
    <span class="text-white font-bold"> $15</span>

    <button routerLink="/shop" class="bg-white rounded-lg ml-24">
      <span class="material-symbols-outlined"> shopping_bag </span>
    </button>
  </article>
  </div>
</div>

<!-- se4 -->

<section class="text-white body-font">
  <div class="items-center text-center lg:ml-28 pt-36">
    <h1
      class="title-font sm:text-4xl text-3xl mb-4 font-bold text-white font-body text-center"
    >
      CARE AND HEALTH FOR <br class="hidden lg:inline-block" />YOUR CACTUS
    </h1>
  </div>
  <div
    class="container mx-auto flex px-28 py-20 md:flex-row flex-col items-center"
  >
    <div class="lg:max-w-md lg:w-half md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img
        class="object-cover object-center rounded"
        alt="hero"
        src="../assets/image/care-cactus.png"
      />
    </div>
    <div class="lg:w-2/5 md:w-1/2 md:pr-10 md:py-3 lg:ml-40">
      <div class="flex relative">
        <div
          class="flex-shrink-0 w-10 h-10 rounded bg-hexgreen inline-flex items-center justify-center text-white z-10"
        >
          <span class="material-symbols-outlined"> done </span>
        </div>
        <div class="flex-grow pl-4 pb-10">
          <p class="leading-relaxed">
            in cold time add water once a month and in summer do it when the
            soil is dry.
          </p>
        </div>
      </div>

      <div class="flex relative">
        <div
          class="flex-shrink-0 w-10 h-10 rounded bg-hexgreen inline-flex items-center justify-center text-white relative z-10"
        >
          <span class="material-symbols-outlined"> done </span>
        </div>
        <div class="flex-grow pl-4 pb-10">
          <p class="leading-relaxed">
            have good drainage so that the cactus does not accumulate water.
          </p>
        </div>
      </div>
      <div class="flex relative">
        <div
          class="flex-shrink-0 w-10 h-10 rounded bg-hexgreen inline-flex items-center justify-center text-white relative z-10"
        >
          <span class="material-symbols-outlined"> done </span>
        </div>
        <div class="flex-grow pl-4 pb-10">
          <p class="leading-relaxed">
            place your cactus or succulent in a location with indirect light
          </p>
        </div>
      </div>
      <div class="flex relative">
        <div
          class="flex-shrink-0 w-10 h-10 rounded bg-hexgreen inline-flex items-center justify-center text-white relative z-10"
        >
          <span class="material-symbols-outlined"> done </span>
        </div>
        <div class="flex-grow pl-4 pb-10">
          <p class="leading-relaxed">
            do not water more than necessary,as it can accumulate too much water
            and plant will rot.
          </p>
        </div>
      </div>
      <div class="flex relative">
        <div
          class="flex-shrink-0 w-10 h-10 rounded bg-hexgreen inline-flex items-center justify-center text-white relative z-10"
        >
          <span class="material-symbols-outlined"> done </span>
        </div>
        <div class="flex-grow pl-4 pb-10">
          <p class="leading-relaxed">
            do not expose to high temperatures as succulent plants are not fans
            of extremes.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Testimonial -->



<!-- FOOTER -->



